ul.nav li{
    display: inline-block;
    padding-right: 10px;
    background: red;
    color: white;
}

a {
	color:white;
}
#page_content {
	background: white;
}

#about_blue {
	background-color: #F0F8FF;
	margin: 10px;
	
}

#about_blue ul li {
	color:blue;
	
}

#about_yellow {
	background-color: #FFEBCD;
	margin:10px;
	

}

#about_yellow ul li{
	color: yellow;
	

}

.color-info {
	border: 3px solid black;
	border-bottom-right-radius: 10px;


}

.important {
	font-size: 16px;
	font-weight: bold;
}